* {
    font-family: sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
    background-color: #282828;
    border-bottom: 1px solid #928378;
    color: #fbf1c7;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}
#workspaces button { color: #fbf1c7; }
#workspaces button.active { box-shadow: inset 0 -2px #f00; }
#workspaces button.urgent { background-color: #eb4d4b; }

#window {
	margin-left: 5px;
	box-shadow: inset 0 -2px #83a598;
}

#cpu, #memory, #battery, #clock {
    padding: 0 5px;
    color: #000;
}

#cpu    { background-color: #8ec07c; }
#memory { background-color: #d3869b; }

#battery.charging,
#battery.plugged                 { background-color: #b8bb26; }
#battery.full                    { background-color: #83a598; }
#battery.discharging             { background-color: #fabd2f; }
#battery.critical:not(.charging) { background-color: #f53c3c; }

#clock  { background-color: #ebdbb2; }

